{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Upload Images for Style Transfer</title>
</head>
<body>
    <h1>Upload Images for Style Transfer</h1>
    <!-- <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="content_image">Content Image:</label>
        <input type="file" name="content_image" required><br>
        <label for="style_image">Style Image:</label>
        <input type="file" name="style_image" required><br>
        <input type="submit" value="Upload and Apply Style">
    </form> -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class = "content">
            <div>
                <h2 class = "title2" >Upload Content image</h2>
            </div>
                
                <div class="contents">
                    <div class="upload-box">
                        <div id="drop-file" class="drag-file">
                            <img src="https://img.icons8.com/pastel-glyph/2x/image-file.png" alt="파일 아이콘" class="image" >
                            <p class="message">Drag files to upload</p>
                            <img src="" alt="미리보기 이미지" class="preview">
                        </div>
                        <label class="file-label" for="chooseFile">Choose File</label>
                        <input class="file" name="content_image" id="chooseFile" type="file" onchange="dropFile.handleFiles(this.files)" accept="image/png, image/jpeg" required>
                    </div>
                
                    
                    <!-- <div class="container">
                        <div class="cards">
                            <label class="card">
                                <input type="radio" name="image-card" value="00.png">
                                <img class="thumnail" src="img/c1.png" alt="" />
                            </label>
                            <label class="card">
                                <input type="radio" name="image-card" value="01.png">
                                <img class="thumnail" src="img/c2.png" alt="" />
                            </label>
                            
                            <label class="card">
                                <input type="radio" name="image-card" value="02.png">
                                <img class="thumnail" src="img/c3.png" alt="" />
                            </label>
                            <label class="card">
                                <input type="radio" name="image-card" value="03.png">
                                <img class="thumnail" src="img/c4.png" alt="" />
                            </label>

                        </div>
                    </div> -->
                </div>
            
        </div>
        
        
        <div class="content">
            <div>
                <h2 class="title2">Choose Style image</h2>
            </div>
            <div class="contents">

                <div class="upload-box">
                    <div id="drop-file2" class="drag-file">
                        <img src="https://img.icons8.com/pastel-glyph/2x/image-file.png" alt="파일 아이콘" class="image">
                        <p class="message">Drag files to upload</p>
                        <img src="" alt="미리보기 이미지" class="preview">
                    </div>
                    <label class="file-label" for="chooseFile2">Choose File</label>
                    <input class="file" name="style_image" id="chooseFile2" type="file" onchange="dropFile2.handleFiles(this.files)" accept="image/png, image/jpeg" required>
                </div>
                <!-- <div class="container">
                    <div class="cards">
                        <label class="card">
                            <input type="radio" name="video-card" value="0.mp4">
                            <img class="thumnail" src="img/s1.png" alt="" />
                        </label>
                        <label class="card">
                            <input type="radio" name="video-card" value="1.mp4">
                            <img class="thumnail" src="img/s2.png" alt="" />
                        </label>
                        <label class="card">
                            <input type="radio" name="video-card" value="1.mp4">
                            <img class="thumnail" src="img/s3.png" alt="" />
                        </label>
                        <label class="card">
                            <input type="radio" name="video-card" value="1.mp4">
                            <img class="thumnail" src="img/s4.png" alt="" />
                        </label>
                    </div>
                </div> -->
            </div>

        </div>


        <!-- <div>
            <h2 class="title2">Frame size</h2>
            <div class="frame-buttons">
                <div class="phoneframe" style="margin-bottom: 30px;">
                    <label class="button2">
                        <input type="radio" name="frame-size" value="390x844">
                        <span>iPhone 14</span>
                    </label>
                    <label class="button2">
                        <input type="radio" name="frame-size" value="393x852">
                        <span>iPhone 14 Pro</span>
                    </label>
                    <label class="button2">
                        <input type="radio" name="frame-size" value="428x926">
                        <span>iPhone 14 Plus</span>
                    </label>
                    <label class="button2">
                        <input type="radio" name="frame-size" value="428x932">
                        <span>iPhone 14 Pro Max</span>
                    </label>
                    <label class="button2">
                        <input type="radio" name="frame-size" value="390x844">
                        <span>iPhone 13 / 13 Pro</span>
                    </label>
                    <label class="button2">
                        <input type="radio" name="frame-size" value="375x812">
                        <span>iPhone 13 mini</span>
                    </label>
                    <label class="button2">
                        <input type="radio" name="frame-size" value="320x568">
                        <span>iPhone SE</span>
                    </label>
                </div>
                <div class="tabletframe" style="margin-bottom: 30px;">
                    <label class="button2">
                        <input type="radio" name="frame-size" value="1440x960">
                        <span>iSurface Pro 8</span>
                    </label>
                    <label class="button2">
                        <input type="radio" name="frame-size" value="744x1133">
                        <span>iPad mini 8.3</span>
                    </label>
                    <label class="button2">
                        <input type="radio" name="frame-size" value="834x1194">
                        <span>iPad Pro 11"</span>
                    </label>
                    <label class="button2">
                        <input type="radio" name="frame-size" value="1024x1366">
                        <span>iPad Pro 12.9"</span>
                    </label>
                </div>
                <div class="desktopframe" style="margin-bottom: 30px;">
                    <label class="button2">
                        <input type="radio" name="frame-size" value="1280x832">
                        <span>1280 x 832</span>
                    </label>
                    <label class="button2">
                        <input type="radio" name="frame-size" value="1512x982">
                        <span>1512 x 982</span>
                    </label>
                    <label class="button2">
                        <input type="radio" name="frame-size" value="1728x1117">
                        <span>1728 x 1117</span>
                    </label>
                    <label class="button2">
                        <input type="radio" name="frame-size" value="1440x1024">
                        <span>1440 x 1024</span>
                    </label>
                </div>
                <div class="watchframe">
                    <label class="button2">
                        <input type="radio" name="frame-size" value="176x215">
                        <span>Apple Watch 41mm</span>
                    </label>
                    <label class="button2">
                        <input type="radio" name="frame-size" value="198x242">
                        <span>Apple Watch 45mm</span>
                    </label>
                    <label class="button2">
                        <input type="radio" name="frame-size" value="184x224">
                        <span>Apple Watch 44mm</span>
                    </label>
                    <label class="button2">
                        <input type="radio" name="frame-size" value="162x197">
                        <span>Apple Watch 40mm</span>
                    </label>
                </div>
            </div>
        </div> -->
        <div class="generate" style="text-align: center; margin-top: 100px;">
            <input type="submit" class="button-generate" value="Generate!">
        </div>
    </form>
</body>
</html>
