<!DOCTYPE html>
<html>
<head>
    <title>Upload Images for Style Transfer</title>
</head>
<body>
    <h1>Upload Images for Style Transfer</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="content_image">Content Image:</label>
        <input type="file" name="content_image" required><br>
        <label for="style_image">Style Image:</label>
        <input type="file" name="style_image" required><br>
        <input type="submit" value="Upload and Apply Style">
    </form>
</body>
</html>
